<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.slice.cordova.venmo"
    version="0.1.0">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>Venmo Switch</name>

    <description>Venmo's iOS/Android SDKs, in a Cordova plugin</description>

    <author>HomeSlice</author>

    <keywords>venmo,payment</keywords>

    <license>MIT</license>

    <js-module src="www/venmo.js" name="Venmo">
        <clobbers target="cordova.plugins.venmo" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <source-file src="src/android/Venmo.java" target-dir="src/com/slice/cordova/venmo" />
        <source-file src="src/android/VenmoLibrary.java" target-dir="src/com/slice/cordova/venmo" />

        <lib-file src="src/android/libs/json-simple-1.1.1.jar" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Venmo">
                <param name="android-package" value="com.slice.cordova.venmo.Venmo" />
            </feature>
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="Venmo">
              <param name="ios-package" value="CDVenmo" />
          </feature>
      </config-file>

      <header-file src="src/ios/CDVenmo.h" />
      <source-file src="src/ios/CDVenmo.m" />

      <header-file src="src/ios/venmo-sdk/Venmo.h" />

      <header-file src="src/ios/venmo-sdk/URL\ Handling/VENURLProtocol.h"  />
      <header-file src="src/ios/venmo-sdk/Supporting\ Files/VENPermissionConstants.h"  />
      <header-file src="src/ios/venmo-sdk/Supporting\ Files/VENErrors.h"  />

      <header-file src="src/ios/venmo-sdk/Models/VENSession.h"  />
      <header-file src="src/ios/venmo-sdk/Models/VENPermission.h"  />

      <header-file src="src/ios/venmo-sdk/Encryption/VENBase64_Internal.h"  />
      <header-file src="src/ios/venmo-sdk/Encryption/VENDefines_Internal.h"  />
      <header-file src="src/ios/venmo-sdk/Encryption/VENHMAC_SHA256_Internal.h"  />
      <header-file src="src/ios/venmo-sdk/Encryption/VENRequestDecoder.h"  />

      <header-file src="src/ios/venmo-sdk/Categories/NSBundle+VenmoSDK.h"  />
      <header-file src="src/ios/venmo-sdk/Categories/NSDictionary+VenmoSDK.h"  />
      <header-file src="src/ios/venmo-sdk/Categories/NSError+VenmoSDK.h"  />
      <header-file src="src/ios/venmo-sdk/Categories/NSString+MD5Addition.h"  />
      <header-file src="src/ios/venmo-sdk/Categories/NSString+VenmoSDK.h"  />
      <header-file src="src/ios/venmo-sdk/Categories/NSURL+VenmoSDK.h"  />
      <header-file src="src/ios/venmo-sdk/Categories/UIDevice+VenmoSDK.h"  />
      <header-file src="src/ios/venmo-sdk/Categories/VENTransaction+VenmoSDK.h"  />
      <header-file src="src/ios/venmo-sdk/Categories/VENUser+VenmoSDK.h"  />

    </platform>

</plugin>
