<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.slice.cordova.venmo"
    version="0.1.0">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>Venmo Switch</name>

    <description>Venmo's iOS/Android SDKs, in a Cordova plugin</description>

    <author>HomeSlice</author>

    <keywords>venmo,payment</keywords>

    <license>MIT</license>

    <js-module src="www/venmo.js" name="Venmo">
        <clobbers target="cordova.plugins.venmo" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <source-file src="src/android/Venmo.java" target-dir="src/com/slice/cordova/venmo" />
        <source-file src="src/android/VenmoLibrary.java" target-dir="src/com/slice/cordova/venmo" />

        <lib-file src="src/android/libs/json-simple-1.1.1.jar" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Venmo">
                <param name="android-package" value="com.slice.cordova.venmo.Venmo" />
            </feature>
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="Venmo">
              <param name="ios-package" value="CDVenmo" />
          </feature>
      </config-file>

      <config-file target="*-Info.plist" parent="CFBundleURLTypes">
        <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>venmo2456</string>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>venmo2456</string>
            </array>
          </dict>
        </array>
      </config-file>

      <header-file src="src/ios/CDVenmo.h" />
      <source-file src="src/ios/CDVenmo.m" />

      <framework src="UIKit.framework" />
      <framework src="Security.framework" />

      <header-file src="./src/ios/VENCore/Categories/NSArray+VENCore.h" />
			<source-file src="./src/ios/VENCore/Categories/NSArray+VENCore.m" />
			<header-file src="./src/ios/VENCore/Categories/NSDictionary+VENCore.h" />
			<source-file src="./src/ios/VENCore/Categories/NSDictionary+VENCore.m" />
			<header-file src="./src/ios/VENCore/Categories/NSError+VENCore.h" />
			<source-file src="./src/ios/VENCore/Categories/NSError+VENCore.m" />
			<header-file src="./src/ios/VENCore/Categories/NSString+VENCore.h" />
			<source-file src="./src/ios/VENCore/Categories/NSString+VENCore.m" />
			<header-file src="./src/ios/VENCore/Categories/UIDevice+VENCore.h" />
			<source-file src="./src/ios/VENCore/Categories/UIDevice+VENCore.m" />
			<header-file src="./src/ios/VENCore/Models/Transactions/VENCreateTransactionRequest.h" />
			<source-file src="./src/ios/VENCore/Models/Transactions/VENCreateTransactionRequest.m" />
			<header-file src="./src/ios/VENCore/Models/Transactions/VENTransaction.h" />
			<source-file src="./src/ios/VENCore/Models/Transactions/VENTransaction.m" />
			<header-file src="./src/ios/VENCore/Models/Transactions/VENTransactionPayloadKeys.h" />
			<header-file src="./src/ios/VENCore/Models/Transactions/VENTransactionTarget.h" />
			<source-file src="./src/ios/VENCore/Models/Transactions/VENTransactionTarget.m" />
			<header-file src="./src/ios/VENCore/Models/Users/VENUser.h" />
			<source-file src="./src/ios/VENCore/Models/Users/VENUser.m" />
			<header-file src="./src/ios/VENCore/Models/Users/VENUserPayloadKeys.h" />
			<header-file src="./src/ios/VENCore/Networking/VENHTTP.h" />
			<source-file src="./src/ios/VENCore/Networking/VENHTTP.m" />
			<header-file src="./src/ios/VENCore/Networking/VENHTTPResponse.h" />
			<source-file src="./src/ios/VENCore/Networking/VENHTTPResponse.m" />
			<header-file src="./src/ios/VENCore/VENCore.h" />
			<source-file src="./src/ios/VENCore/VENCore.m" />
      <header-file src="./src/ios/venmo-sdk/Categories/NSBundle+VenmoSDK.h" />
			<source-file src="./src/ios/venmo-sdk/Categories/NSBundle+VenmoSDK.m" />
			<header-file src="./src/ios/venmo-sdk/Categories/NSDictionary+VenmoSDK.h" />
			<source-file src="./src/ios/venmo-sdk/Categories/NSDictionary+VenmoSDK.m" />
			<header-file src="./src/ios/venmo-sdk/Categories/NSError+VenmoSDK.h" />
			<source-file src="./src/ios/venmo-sdk/Categories/NSError+VenmoSDK.m" />
			<header-file src="./src/ios/venmo-sdk/Categories/NSString+MD5Addition.h" />
			<source-file src="./src/ios/venmo-sdk/Categories/NSString+MD5Addition.m" />
			<header-file src="./src/ios/venmo-sdk/Categories/NSString+VenmoSDK.h" />
			<source-file src="./src/ios/venmo-sdk/Categories/NSString+VenmoSDK.m" />
			<header-file src="./src/ios/venmo-sdk/Categories/NSURL+VenmoSDK.h" />
			<source-file src="./src/ios/venmo-sdk/Categories/NSURL+VenmoSDK.m" />
			<header-file src="./src/ios/venmo-sdk/Categories/UIDevice+IdentifierAddition.h" />
			<source-file src="./src/ios/venmo-sdk/Categories/UIDevice+IdentifierAddition.m" />
			<header-file src="./src/ios/venmo-sdk/Categories/VENTransaction+VenmoSDK.h" />
			<source-file src="./src/ios/venmo-sdk/Categories/VENTransaction+VenmoSDK.m" />
			<header-file src="./src/ios/venmo-sdk/Categories/VENUser+VenmoSDK.h" />
			<source-file src="./src/ios/venmo-sdk/Categories/VENUser+VenmoSDK.m" />
			<source-file src="./src/ios/venmo-sdk/Encryption/VENBase64.m" />
			<header-file src="./src/ios/venmo-sdk/Encryption/VENBase64_Internal.h" />
			<header-file src="./src/ios/venmo-sdk/Encryption/VENDefines_Internal.h" />
			<source-file src="./src/ios/venmo-sdk/Encryption/VENHMAC_SHA256.m" />
			<header-file src="./src/ios/venmo-sdk/Encryption/VENHMAC_SHA256_Internal.h" />
			<header-file src="./src/ios/venmo-sdk/Encryption/VENRequestDecoder.h" />
			<source-file src="./src/ios/venmo-sdk/Encryption/VENRequestDecoder.m" />
			<header-file src="./src/ios/venmo-sdk/Models/VENPermission.h" />
			<source-file src="./src/ios/venmo-sdk/Models/VENPermission.m" />
			<header-file src="./src/ios/venmo-sdk/Models/VENSession.h" />
			<source-file src="./src/ios/venmo-sdk/Models/VENSession.m" />
			<header-file src="./src/ios/venmo-sdk/Supporting Files/VENErrors.h" />
			<source-file src="./src/ios/venmo-sdk/Supporting Files/VENErrors.m" />
			<header-file src="./src/ios/venmo-sdk/Supporting Files/VENPermissionConstants.h" />
			<header-file src="./src/ios/venmo-sdk/URL Handling/VENURLProtocol.h" />
			<source-file src="./src/ios/venmo-sdk/URL Handling/VENURLProtocol.m" />
			<header-file src="./src/ios/venmo-sdk/Venmo.h" />
			<source-file src="./src/ios/venmo-sdk/Venmo.m" />
      <header-file src="./src/ios/SSKeychain/SSKeychain.h" />
      <source-file src="./src/ios/SSKeychain/SSKeychain.m" />
      <header-file src="./src/ios/SSKeychain/SSKeychainQuery.h" />
      <source-file src="./src/ios/SSKeychain/SSKeychainQuery.m" />
      <header-file src="./src/ios/CMDQueryStringSerialization/Pod/CMDQueryStringReader.h" />
			<source-file src="./src/ios/CMDQueryStringSerialization/Pod/CMDQueryStringReader.m" />
			<header-file src="./src/ios/CMDQueryStringSerialization/Pod/CMDQueryStringSerialization.h" />
			<source-file src="./src/ios/CMDQueryStringSerialization/Pod/CMDQueryStringSerialization.m" />
			<header-file src="./src/ios/CMDQueryStringSerialization/Pod/CMDQueryStringValueTransformer.h" />
			<source-file src="./src/ios/CMDQueryStringSerialization/Pod/CMDQueryStringValueTransformer.m" />
			<header-file src="./src/ios/CMDQueryStringSerialization/Pod/CMDQueryStringWritingOptions.h" />
			<header-file src="./src/ios/CMDQueryStringSerialization/Pod/NSString+CMDQueryStringSerialization.h" />
			<source-file src="./src/ios/CMDQueryStringSerialization/Pod/NSString+CMDQueryStringSerialization.m" />
    </platform>

</plugin>
